---
layout: page
title: "About"
description: "Hey, this is LingDie."
header-img: "img/113.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>写写代码，做做设计，看看产品。<br>
    世界那么大，我想去看看。</p></blockquote>
    <p>Hey，我是<strong>朱磊</strong>，程序员 &amp; PHP工程师</P>
	<P>性别：男</P>
	<p>出生日期：1994年11月7日</p>
	<p>联系方式：18033696192</p>
	<p>E-mail:18033696192@163.com</p>
	<p>现住地：北京 </p>
	<hr>
	<h5>专业技能</h5>
	<ur>
		<li>熟练PHP面向对象编程。</li>
		<li>熟练PHP对MySql的操作。</li>
		<li>熟练RBAC权限管理技术</li>
		<li>熟悉MySql数据库优化</li>
		<li>熟悉使用git版本控制工具。</li>
		<li>熟悉使用yii、laravel等主流框架。</li>
		<li>了解MVC架构，了解samrt和TWIG模板引擎，能快速上手任何MVC架构的PHP框架。</li>
		<li>了解APP接口的开发以及接口文档的编写。</li>
		<li>了解JavaScript、Jquery等技术，并且能够运用div+css进行简单的页面布局。能够运用 jQuery Mobile 框架进行响应式布局。</li>
	</ur>
	<hr>
	<h5>项目实战经验</h5>  
	<h6>一、悦骑行</h6>
    <strong>项目简介</strong>
    <p style="text-indent:2em">
        悦骑行项目是基于公司自己编写的MVC框架实现的，该项目是为了响应城市“绿色出行，低碳出行”这一环保口号，以及丰富市民的出行方式而设计的。在这个租车平台上消费者可以根据自己的喜好租借自己心仪的自行车 。
    </p>
    <strong>负责模块</strong> 
     <ur>
        <li>前台页面进行静态化的处理</li>
        <li>前台图片防盗链处理</li>
        <li>前台骑谈社区文章的发布和评论</li>
        <li>前台特惠路线的设计和开发</li>
        <li>后台权限管理</li>
     </ur> 
    <h6>二、资源共享平台</h6>
    <strong>项目简介</strong>
    <p style="text-indent:2em">
    	资源共享平台是在yii框架下进行开发的，该平台主要是面向校园内部技术交流，资源共享而设计的。供师生平时在课下进行技术交流和各种资源的共享；前台后台主要有管理员管理，分类管理，审核管理，权限管理等功能。
    </p>
    <strong>负责模块</strong> 
     <ur>
     	<li>负责前台用户中心模块</li>
     	<li>负责前台资源分类展示</li>
     	<li>负责后台分类管理</li>
     	<li>后台的权限管理</li>
     </ur> 

   
	  <h6>三、健康咨询网站</h6>
    <strong>项目简介</strong>
    <p style="text-indent:2em">
       健康咨询网站使用TP框架开发，通过这个平台患者可以根据自身的实际情况填写身体报告，请求医生给予建议和处方或者是在线咨询医生根据情况给予建议或处方。
    </p>
    <strong>负责模块</strong> 
     <ur>
        <li>负责用户登陆、注册模块 ;</li>
        <li>负责网站期刊杂志模块；</li>
        <li>后台患者状况报告展示；</li>
        <li>后台医生处方生成；</li>
        <li>后台患者病例展示 。</li>
     </ur> 
</div> 


<!-- English Version -->
<div class="en post-container">
   <blockquote><p>Write code to do design, look at the product.<br>
    The world so big, I want to see.</p></blockquote>
    <p>Hey, I'm<strong>ZhuLei</strong>，The programmer &amp; PHP engineer</P>
	<P>Gender: male</P>
	<p>Date of birth: November 7, 1994</p>
	<p>Contact: 18033696192</p>
	<p>E-mail:18033696192@163.com</p>
	<p>Residence now: Beijing haidian</p>
	<hr>
	<h5>Professional skills</h5>
	<ur>
		<li>Proficient in PHP object oriented programming.</li>
		<li>Proficient in PHP on MySql operation.</li>
		<li>Proficient in RBAC rights management technology.</li>
		<li>Familiar with MySql database optimization.</li>
		<li>Familiar with using the git version control tool.</li>
		<li>Familiar with use yii, laravel mainstream framework, etc.</li>
		<li>Understand the MVC architecture, understand samrt and TWIG is template engines, can quickly to fit any PHP framework of MVC architecture.</li>
		<li>Understand what the APP interface development and interface document writing.</li>
		<li>Understand JavaScript, Jquery and other technology, and can carry on the simple use of div + CSS page layout. Able to use the jQuery Mobile framework responsive layout.</li>
	</ur>
	<hr>
	<h5>The project of actual combat experience</h5>  
	<h6>一、Yue Riding</h6>
    <strong>Project introduction</strong>
    <p style="text-indent:2em">
        Yue riding program is to write your own MVC framework realization based on the company, the project is in response to the urban "green travel, low-carbon travel" this slogan of environmental protection, as well as the citizens of rich way to travel. On the car rental platform consumers can loan their loved ones according to his be fond of bicycle.
    </p>
    <strong>Responsible for the module</strong> 
     <ur>
        <li>The front desk page static process</li>
        <li>The foreground image hotlinking prevention treatment</li>
        <li>The front desk to ride about community publishing articles and reviews</li>
        <li>The design and development of front desk preferential route</li>
        <li>The background rights management</li>
     </ur> 
    <h6>二、Resource sharing platform</h6>
    <strong>Project introduction</strong>
    <p style="text-indent:2em">
    	Resource sharing platform is developed under the yii framework, its main target is the platform for the campus internal technical exchange, resource sharing. For the technical communication between teachers and students in class at ordinary times and resources sharing; Front desk background mainly have the administrator management, classification management, audit management, rights management, and other functions.
    </p>
    <strong>Responsible for the module</strong> 
     <ur>
     	<li>Responsible for the front desk user center module</li>
     	<li>Responsible for front desk resource classification</li>
     	<li>Classification management is responsible for the background</li>
     	<li>The background of rights management</li>
     </ur> 

   
	  <h6>三、Health advice website</h6>
    <strong>Project introduction</strong>
    <p style="text-indent:2em">
       Health advice website TP framework development, through this platform can patients based on their actual situation to fill in the body, is asking his doctor to give advice and prescription or online consulting a doctor for advice or prescription according to the circumstance.
    </p>
    <strong>Responsible for the module</strong> 
     <ur>
        <li>Responsible for the user register, login module </li>
        <li>Responsible for web journal module</li>
        <li>Background patients with status reports show</li>
        <li>The background of doctors' prescriptions generated</li>
        <li>Background patients with display cases</li>
     </ur> 
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
